<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Best Eyebrow</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div align='center' id="camera">
            <h1>Best Eyebrow</h1>
            <p>recommend the shape of eyebrow<br>
                push the camera to start!</p>
            <p><input type="image" src="static/images/camera.png" onclick="test()" alt="camera"></p>
            <form action="/test"><button name="camera_button" style="width: 8%; padding: 10px;" onclick="test()">camera</button>
            </form>
        </div>
  </body>
</html>